.navbar{
    position: fixed;
    top: 0;
    background-color: #22242f;
    height: 66px;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%);
}

.linkContainer{
    padding: 0 24px;
    height: 100%;
    margin: 0   auto;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    font-size: 22px;
    color: white;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
}

.link:hover{
    color: #fa9c43;
    transition: 0.2s;
}